.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 1px 1px 10px 1px black;
    padding: 10px 100px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.nav-logo{
    color: white
    
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 340px;
    color: white
}

.nav-other{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
}

.nav-other h5{
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 20px;
    color: white;

}